<!-- newsletter-area-start -->
<div class="newsletter-area ptb-35">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                <div class="newsletter-text">
                    <h3>Sign Up for Newsletters</h3>
                    <p>Be the First to Know. Sign up for newsletter today</p>
                </div>
            </div>
            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                <div class="newsletter-form">
                    <form action="#">
                        <input type="text" placeholder="Enter your email address" />
                        <button type="submit">Subscribe</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- newsletter-area-end -->