<div class="header-top-area">
    <div class="container">
        <div class="row">
            <div id="product-description" class="col-lg-4 col-md-4 col-sm-5 col-xs-12">
                <div class="header-top-left">
                    <p>AtechJG Group - Online Shopping</p>
                </div>
            </div>
            <!--<div class="col-lg-8 col-md-8 col-sm-7 col-xs-12">
                <div class="header-link text-right">
                    <ul>
                        <li><a href="register.html">My Account</a></li>
                        <li><a href="wishlist.html">My Wish List</a></li>
                        <li><a href="login.html">Sign In</a></li>
                        <li><a href="#">US Dollar<i class="fa fa-angle-down"> </i></a>
                            <div class="dollar-submenu">
                                <ul>
                                    <li><a href="#">EUR</a></li>
                                </ul>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>-->
        </div>
    </div>
</div>