<!-- banner-area-2-start -->
<div class="banner-area-2">
    <div class="container">
        <div class="row">
            <div class="">
                <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
                    <div class="single-banner-2">
                        <div class="banner-2-img">
                            <a href="tel:+0085281758334" target="_blank"><i class="zmdi zmdi-remote-control-alt zmdi-hc-fw"></i></a>
                        </div>
                        <div class="banner-text-2">
                            <h2>00852-8175-8334</h2>
                            <p>China</p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
                    <div class="single-banner-2">
                        <div class="banner-2-img">
                            <a href="mailto:sales@atechjg.com" target="_blank"><i class="zmdi zmdi-email zmdi-hc-fw"></i></a>
                        </div>
                        <div style="position: relative; left: 1em;" class="banner-text-2">
                            <h2>sales@atechjg.com</h2>
                            <p>Soporte</p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
                    <div class="single-banner-2">
                        <div class="banner-2-img">
                            <a href="#" onclick="return false"><i class="zmdi zmdi-skype zmdi-hc-fw"></i></a>
                        </div>
                        <div style="position: relative; left: 1em;" class="banner-text-2">
                            <h2>atechsales011</h2>
                            <p>En Skype</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- banner-area-2-end -->
<!-- footer-area-start -->
<footer>
    <!-- footer-top-start -->
    <div class="footer-top ptb-60">
        <div class="container">
            <div class="row">
                <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
                    <!-- single-footer-start -->
                    <div class="single-footer">
                        <div class="footer-logo">
                            <a href="http://atechjg.com/" target="_blank"><img style="width: 50%" src="./assets/img/atech/Atech-07.jpg" alt="logo" /></a>
                        </div>
                        <div class="footer-test">
                            <p>En Atech JG Group nos aseguramos de</p>
                            <p>que todos nuestros proveedores de partes</p>
                            <p>cumplan con la norma de calidad</p>
                            <p>internacional ISO9001 que se centra en</p>
                            <p>todos los elementos de administración de</p>
                            <p>calidad con los que una empresa debe</p>
                            <p>contar para tener un sistema efectivo que</p>
                            <p>le permita administrar y mejorar la calidad</p>
                            <p>de sus productos.</p>
                            <ul>
                                <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                                <li><a href="#"><i class="fa fa-google-plus"></i></a></li>
                                <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                                <li><a href="#"><i class="fa fa-youtube"></i></a></li>
                                <li><a href="#"><i class="fa fa-flickr"></i></a></li>
                            </ul>
                        </div>
                    </div>
                    <!-- single-footer-end -->
                </div>
            </div>
        </div>
    </div>
    <!-- footer-top-end -->
    <!-- footer-mid-start -->
    <div class="footer-mid">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="payment-area text-center mb-25">
                        <a href="#"><img src="./assets/img/payment/1.png" alt="payment" /></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- footer-mid-start -->
    <!-- footer-bottom-start -->
    <div class="footer-bottom ptb-20">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="copy-right-area text-center">
                        <p>Copyright © 2019 <a href="http://atechjg.com/" target="_blank">AtechJG Group</a> All rights reserved.</p>
                    </div>
                    <div class="footer-category text-center copy-right-area">
                        Diseñado por&nbsp;<a href="https://syftedesigns.com/es" target="_blank">SYFTE DESIGNS</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- footer-bottom-end -->
</footer>
<!-- footer-area-end -->